[submodule "Spoons/Layouts.spoon"]
	path = Spoons/Layouts.spoon
	url = https://github.com/DanEdens/Layouts.spoon.git
[submodule "data"]
	path = data
	url = https://github.com/DanEdens/DansDesktopLayouts
